{% load i18n %}

<p>
  <button class="btn btn-default" data-bind="click: addProfile" type="button">
    <i class="fa fa-plus"></i>
    {% trans "Add a Profile" %}
  </button>
</p>
<div class="panel panel-default">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-sm-3">
          {% trans "Name" %}
        </th>
        <th class="col-sm-9">
          {% trans "Fields" %}
        </th>
        <th class="col-sm-1">{% trans "Delete" %}</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: profiles">
      <tr>
        <td>
          <input class="form-control" type="text" data-bind="value: name"/>
          <!-- TODO: select2 here would be nice: this needs to go into the key/value modal, which is jQuery-only,
          so perhaps attach an event to the modal opening that looks up fieldOptions and creates or refreshes each
          select2? Also need an option to use selects instead of text inputs. -->
          <!--select class="form-control" data-bind="select2: $root.fieldOptions, value: name"></select-->
        </td>
        <td data-bind="jqueryElement: $fields"></td>
        <td>
          <a type="button"
             class="btn btn-danger"
             data-toggle="modal"
             href="#delete-confirm-modal"
             data-bind="click: $root.setModalModel"
          >
            <i class="fa fa-times"></i> {% trans "Delete" %}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
